/* h3 {
  background-color: green;
  font-size: large;
  border: 2px solid red;
} */
.header {
  background-color: green;
  font-size: large;
  border: 2px solid red;
}

#header1 {
  background-color: red;
  font-size: large;
  border: 2px solid green;
}

.h1tag {
  font-size: 15px;
  color: green;
}
.inline2 {
  display: block;
}
